################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Vonathalozat/obj
/Vonathalozat/bin
/Vonathalozat/.vs
